.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  padding-top: 120px;
  background-color: #50d5e6;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  
}
.header#image-class {
  margin-bottom: 0;
  
  
}
