.header {
  text-align: center;
  width: 100%;
  background-color: #4056A1;
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-waves.png");
  color: #FFFFFF;
  padding-top: 8em;
  padding-bottom: 1em;
}

.header-profile {
  margin: 0 auto;
  max-width: 260px;
}

.header-profile img {
  width: 100%;
}

.header-username {
  font-size: 2em;
}
