/* Navbar(top) Styling index.html - line 34 -> line 40 */

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 0 1.5em;
  background-color: #f7bf08;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");
  color: #FFFFFF;
}

.navbar-brand {
  font-family: 'Bungee', sans-serif;
  font-size: 42px;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

.navbar-menu button {
  border: none;
  background: none;
  color: red;
  margin-top: -20px;
}

.navbar-menu button:hover {
  color: #0ae4d9;
}

/* Will render for screen viewers over 1024px */

@media only screen and (min-width: 1024px) {
  .navbar-top {
    background-color: #4056A1;
    background-image: none;
  }
}


