/*  NewTweet/Form index.html - line 52 -> line 63 */

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.error-message {
  display: none;
  text-align: center;
  margin: 0.8em;
  padding: 30px 0;
  font-weight: bold;
  font-size: 18px;
  outline: 3px solid #e70505;
  background: #f9f96a;
  color: red;
}

.new-tweet form label {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 1em;
}

.new-tweet form textarea {
  border: none;
  outline: none;
  border-bottom: 4px solid #545149;
  background-color: antiquewhite;
  margin-bottom: 1em;
  height: 12px;
  padding: 1em;
  font-size: 18px;
  font: bold;
  overflow-y: hidden
}

.new-tweet-submit {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
}

/* Will render for screen viewers over 1024px */

.new-tweet-submit button {
  color: #FFFFFF;
  background-color: #4056A1;
}

