/* Main (Tweet display) Styling 
index.html - line 65 -> line 68 
refer to (client.js) line 4 -> createTweetElement -> HTML -> line 12 -> line 24 */

#main-container {
  padding-top: 3em;
}

.tweet-container {
  border: 4px solid black;
  margin: 1em;
}

.tweets-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5em;
  font-size: 28px;
}

.tweet-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tweet-profile img {
  padding-right: 0.8em;
  height: 50px;
}

.tweet-container .tweet-handle {
  color: lightgray;
}

.tweet-body {
  margin: 0 1em;
  font-size: 28px;
  overflow-wrap:break-word;
}

.tweets-footer {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid black;
  align-items: center;
  margin: 0 1.5em;
}

.tweets-footer p {
  padding-left: 1.5em;
}

.tweets-actions {
  padding-right: 1.5em;
  color: #4056A1;
}

.tweets-actions #retweet {
  margin: 0 .8em;
}

/* Hover Animations Below */

.tweet-container:hover {
  box-shadow: 5px 10px;
}

.tweets-actions #report-flag:hover {
  color: orange;
}

.tweets-actions #retweet:hover {
  color: orange;
}

.tweets-actions #like:hover {
  color: orange;
}

/* Will render for screen viewers over 1024px */

@media only screen and (min-width: 1024px) {
  .tweet-container {
    margin: 1em 0%;
  }
}